@tailwind base;
@tailwind components;
@tailwind utilities;


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-animation {
    transition: .3s;
    
}
.button-animation:hover{
    scale: 1.1;

}

.leftt {
    top: 50%;
    left: 1;
    transform: translate(-50%, -50%);
   
}

.right{
    transform: translate(-50%, -50%);
       
}
